/* Carousel*/
.carousel-inner img{
    width: 35%;
    max-height: 35%;
    margin: auto;
    min-width: 350px ;
    min-height: 350px ;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.btn-primary{
    background-color: #FBD8FE;
    border: 1px solid #FBD8FE;
    color : #408AE0;
}
.btn-primary:hover{
    background-color: #E997F5;
    border: 1px solid #E997F5;
    color : #408AE0;
}
.btn-outline-secondary:hover{
    outline-color: #408AE0;
    background-color: #E997F5;
    border: 1px solid #E997F5;
}
.jumbotron{
    padding: 1rem;
    border-radius: 0;
}
.jumbotron h1{
    text-align: center;
}
/*Learn more*/
div.col-xs-12:nth-child(2){
    text-align: right;
}
.jumbotron button{
    background-color: #FBD8FE;
    margin-top: 1rem;
}
.social a{
    font-size: 4.5em;
    padding: 3rem;
}