@font-face
{
    src: url(fonts/Cormorant_Unicase/CormorantUnicase-Bold.ttf);
    /*We name the font*/
    font-family: cormorant;
}
*{
    margin: 0;
    padding: 0;
}
html,
body{
    height: 100;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

nav .navbar-nav li a{
    color: #408AE0 !important;
}
nav .navbar-nav li a:hover{
    color: #E997F5 !important;
}
.nav-link{
    font-size: 1.1rem !important;
}
.btn-primary{
    background-color: #FBD8FE;
    border: 1px solid #FBD8FE;
    color : #408AE0;
}
.btn-primary:hover{
    background-color: #E997F5;
    border: 1px solid #E997F5;
    color : #408AE0;
}
.padding{
     padding: 2rem;
 }

h2{
    margin-top: 5rem;
    text-shadow: #e4e4e4;
    text-align: center;
}


#submitButton{
  float: right;
}
.social a{
    font-size: 4.5em;
    padding: 3rem;
}