@font-face
{
    src: url(fonts/Cormorant_Unicase/CormorantUnicase-Bold.ttf);
    /*We name the font*/
    font-family: cormorant;
}
html,
body{
    margin: 0;
    padding: 0;
    height: 100;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
/* My custom Colours*/
.myLinearColor
{
    background: rgb(251,216,254);
    background: -moz-linear-gradient(90deg, rgba(251,216,254,1) 10%, rgba(233,151,245,0.6362920168067228) 25%, rgba(169,203,244,1) 50%, rgba(64,138,224,1) 75%, rgba(0,108,235,1) 90%);
    background: -webkit-linear-gradient(90deg, rgba(251,216,254,1) 10%, rgba(233,151,245,0.6362920168067228) 25%, rgba(169,203,244,1) 50%, rgba(64,138,224,1) 75%, rgba(0,108,235,1) 90%);
    background: linear-gradient(90deg, rgba(251,216,254,1) 10%, rgba(233,151,245,0.6362920168067228) 25%, rgba(169,203,244,1) 50%, rgba(64,138,224,1) 75%, rgba(0,108,235,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fbd8fe",endColorstr="#006ceb",GradientType=1);
}
.myRadialColor
{
    background: rgb(251,216,254);
    background: -moz-radial-gradient(circle, rgba(251,216,254,1) 10%, rgba(233,151,245,0.6362920168067228) 25%, rgba(169,203,244,1) 50%, rgba(64,138,224,1) 75%, rgba(0,108,235,1) 90%);
    background: -webkit-radial-gradient(circle, rgba(251,216,254,1) 10%, rgba(233,151,245,0.6362920168067228) 25%, rgba(169,203,244,1) 50%, rgba(64,138,224,1) 75%, rgba(0,108,235,1) 90%);
    background: radial-gradient(circle, rgba(251,216,254,1) 10%, rgba(233,151,245,0.6362920168067228) 25%, rgba(169,203,244,1) 50%, rgba(64,138,224,1) 75%, rgba(0,108,235,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fbd8fe",endColorstr="#006ceb",GradientType=1);
}

/* Buttons */
.btn-primary{
    background-color: #FBD8FE;
    border: 1px solid #FBD8FE;
    color : #408AE0;
}
.btn-primary:hover{
    background-color: #E997F5;
    border: 1px solid #E997F5;
    color : #408AE0;
}
.btn-outline-secondary:hover{
    outline-color: #408AE0;
    background-color: #E997F5;
    border: 1px solid #E997F5;
}

/*Header*/
header {
    margin-bottom: 80px;
}
.navbar-brand{
    letter-spacing: 1.2px;
    font-weight:bold; 
    font-size:xx-large;
}
header nav .navbar-nav li a{
    margin-right: 10px;
    font-size: larger;
    font-weight: bold;
    color: #408AE0 !important;
}
header nav .navbar-nav li a:hover{
    color: #E997F5 !important;
}
header div ul li input {
    width: 200px !important;
    margin-right: 20px;
}
/*Footer*/
footer h5{
    margin: 0;
    padding: 0;
    margin-top: 50px;
}
footer hr{
    margin-bottom: 15px;
    padding: 0;
    width: 90%;
    border-color: white;
}

div > div > div > p,a{
    padding-bottom: 5px;
}
/*genderequality.com*/
div.col-12:nth-child(4) > h5:nth-child(2){
    padding-bottom: 30px;
}


/*Home Carousel*/
.carousel-inner img{
    width: 35%;
    max-height: 35%;
    margin: auto;
    min-width: 350px ;
    min-height: 350px ;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}
.jumbotron{
    padding: 1rem;
    border-radius: 0;
}
.jumbotron h1{
    text-align: center;
}
/*Learn more*/
div.col-xs-12:nth-child(2){
    text-align: right;
}
.jumbotron button{
    background-color: #FBD8FE;
    margin-top: 1rem;
}
.social a{
    font-size: 4.5em;
    padding: 3rem;
}